<!DOCTYPE html>
<html lang="en" onload="myFunction()">
<style>
  .vl {
  border-left: 1px solid black;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}
</style>

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="/static/assets/apple-icon-180x180.png">
    <link href="./static/assets/fnlogo.png" rel="icon">

    <title>Fhumulani Nemulodi</title>  

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="" style="color:blue">01 : Home</a></li>
          <li><a href="./about.html" title="" style="color:blue">02 : About me</a></li>
	  <li><a href="./works.html" title="" style="color:blue">03 : Career</a></li>
          <li><a href="./contact.html" title="" style="color:blue">04 : Contact</a></li>
        </ul>

      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
  <div class="container">
    <div class="row">
      
      <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
        <div class="text-center">
          <h1 class="h2">03 : Career</h1>
          <p style="">Are you interested in what my current and previous experience? Below is some description about my current position as well as previous job experience.</p>
        </div>
      </div>

      <div class="col-md-14">
     
      <div id="myCarousel" class="carousel slide projects-carousel">
        <!-- Carousel items -->
	
        <div class="carousel-inner">
            <div class="">
                <div class="">
                    <!--<div class="col-sm-12" style="border-style: double">
		     <!--<h4 style="color:blue ">001/003</h4>-->
		     <h3 style="color:blue">Accelerator Physicist </h3>

                      <a title="" class="">
                        <!---<img src="./static/assets/images/cyc1.jpg" alt="" class="img-responsive">-->
                      </a>
                      <div class="">
                       
                        <!--<h3 style="color:blue"> <u>Accelerator Physicist </u></h3>-->
			<h4 style="color:red"> Jan 5015 - present </h4>
			<style>
                        #more {display: none;}
                        </style>
			<p> Since January 2015 I have been working as an accelerator physisicst at iThemba LABS. Some of the things I get up to in this position are: developong software for beam monitoring and control systems using MATLAB, Python, C++ and C#, conduct research aimed at improving the quality of cyclotrons and beamlines, optimization of cyclotron and beam line parameters as well as performing Monte Carlo simulations. I am also investigating the feasibilty of using AI in producing and delivering of beams to different target stations. 
			
		
                        <p><b><ul>
        
			</p>
			<!---<button onclick="myFunction()" id="myBtn"><b>Read more</b></button>-->
                       
                      </div>
                    </div>
		    

                    <div class="col-sm-12" style="border-style: double; margin-top: 20px;">
		    <!---<h4>002/002</h4>-->
		    <h3 style="color:blue">002/003 Junior Research Scientist</h3>
                      <a href="./work.html" title="" class="">
                        <!---<img src="./static/assets/images/phd.png" alt="" class="img-responsive">--->
                      </a>
                      <div class="">
		      <!--<p style="color:white"> gdgdhdhdhdfggfjfjf  gkgkgkgkgkg hghghgggggggggggghghgggg  </p>-->
                        
                        <!--<h3 style="color:blue"> <u>Junior Research Scientist</u></h3>-->
			<h4 style="color:red"> April 2011- Dec 2014 </h4>
			<style>
                        #more1 {display: none;}
                        </style>
			<p><b>Key Responsibilites:</b>
			
			
         <b><ul>
	 <span id="dots1">...</span> <span id="more1">
	<li>Set up detection system for scheduled experiments</li>
	<li>Take part in the preparation of nuclear physics experiments</li>
	<li>Conduct research within any field of nuclear physics with emphasis in nuclear
structure</li>
	<li>Collect and analyse collected data using different software packages</li>
	<li>Write scripts to analyse and manipulate obtained results using MATLAB, C++, Python as
well as bash-scripting \uf020</li>
	<li>Software development</li>
	<li>Development of numerical routines</li>
	
	</ul>  </b> </span>
	
	
	<!--<p style="color:white"> gdgdhdhdhdfggfjfjf  gkgkgkgkgkg</p>-->
			
			
			</p>
			<button onclick="myFunction1()" id="myBtn1"><b>Read more</b></button>
                        <!---<a href="./work.html" title="" class="btn btn-default">Discover</a>-->
                      </div>
		      
                    </div>
		    

		    <div class="col-sm-12" style="border-style: double; margin-top: 20px;">
		    <!--<h4>002/003</h4>-->
		    <h3 style="color:blue">003/003 Machine Learning Enthusiast</h3>
                      <a href="./work.html" title="" class="">
                        <!---<img src="./static/assets/images/ras1.png" alt="" class="img-responsive">--->
                      </a>
                      <div class="">
		      <!--<p style="color:white"> gdgdhdhdhdfggfjfjf  gkgkgkgkgkg hghghgggggggggggghghgggg   </p>-->
                        
                        <!--<h3 style="color:blue"><u>Machine Learning Enthusiast</u></h3>-->
			<h4 style="color:red"> June 2016- present </h4>
						<style>
                        #more2 {display: none;}
                        </style>
                        <!--<p><b>Key Responsibilites:</b>-->
			
			
         
	 <span id="dots2"><b>Even though I am a physicist by training, I have always had interest in computing. In actual fact during my first year... </b></span> <span id="more2"> 
	<p> <b>Even though I am a physicist by training, I have always had interest in computing. In actual fact during my first year I was enrolled for Computer Science degree. This interest have recently came back and in 2017 I decided to expand my knowledge thorugh Massive Open Online Courses (MOOCs). It is through these courses that I managed to grasp the topic of "machine learning". Over the years the interest have gradually increased and I have managed to build various machine learning models using python and octave programming languages.
	 </p>
	<div>
	<ul>
	<li><a href="./language.html" title="" style="color:blue"> Language Classification</a></li>
	</ul>
	<b></div>
	 </span>
	
	
	<!--<p style="color:white"> gdgdhdhdhdfggfjfjf  gkgkgkgkgkg</p>-->
			
			
			</p>
                        <button onclick="myFunction2()" id="myBtn2"><b>Read more</b></button>
                        <!---<a href="./work.html" title="" class="btn btn-default">Discover</a>-->
                      </div>
                    </div>
                    
                    
                </div>


     </div>



    <!--/myCarousel-->
    </div>



    </div>
  </div>
</div>

<script>
function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more";
    btnText.style.fontWeight =  '700'; 
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less"; 
    moreText.style.display = "inline";
    btnText.style.fontWeight =  '700'; 
  }
}


  
 function myFunction1() {
  var dots = document.getElementById("dots1");
  var moreText = document.getElementById("more1");
  var btnText = document.getElementById("myBtn1");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more";
    btnText.style.fontWeight =  '700'; 
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less"; 
    moreText.style.display = "inline";
    btnText.style.fontWeight =  '700'; 
  }
}

 function myFunction2() {
  var dots = document.getElementById("dots2");
  var moreText = document.getElementById("more2");
  var btnText = document.getElementById("myBtn2");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more";
    btnText.style.fontWeight =  '700'; 
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less"; 
    moreText.style.display = "inline";
    btnText.style.fontWeight =  '700'; 
  }
}


  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  }); 
  
  
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>



--> <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>
